# Flutter build artifacts
alarmlock/build/
alarmlock/.dart_tool/
alarmlock/pubspec.lock
alarmlock/.flutter-plugins
alarmlock/.flutter-plugins-dependencies
alarmlock/android/local.properties
alarmlock/android/.gradle/

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store
*.log
